In [ ]:
import pandas as pd

In [ ]:
import io

In [ ]:
li=['cat','dog','fox']
df=pd.DataFrame(li)
df

     0
0  cat
1  dog
2  fox

In [ ]:
student=[['Anil','Raj'],['Virar','mulund']]
df1=pd.DataFrame(student)
df1

       0       1
0   Anil     Raj
1  Virar  mulund

       0       1
0   Anil     Raj
1  Virar  mulund

Data frame using Dict

In [ ]:
import pandas as pd
import io

In [ ]:
dict={'name':['Raj','Sam','Joy'],
      'sal':[25000,50000,15000],
      'qual':['BSC','BTech','HSC']}
df2=pd.DataFrame(dict)
df2

  name    sal   qual
0  Raj  25000    BSC
1  Sam  50000  BTech
2  Joy  15000    HSC

In [ ]:
from google.colab import files

In [ ]:
upload=files.upload()

Saving data1.csv to data1 (1).csv

In [ ]:
df3=pd.read_csv(io.BytesIO(upload['data1.csv']),usecols=['name','symptoms','disease'])

In [ ]:
df3

  name                     symptoms   disease
0  sam                  fever,cough     covid
1  joy                 yellow nails  jaundice
2  ram  headache,vomiting,diarrhea.   malaria

make Similar for null value attr

In [ ]:
name=['swar','sam','nishan','amish']
masters=['CS','IT','MS','ACC']
df=pd.DataFrame({"name":name,"masters":masters})

In [ ]:
age=[20,21,22,24]
df['age']=age

In [ ]:
df

     name masters  age
0    swar      CS   20
1     sam      IT   21
2  nishan      MS   22
3   amish     ACC   24

In [ ]:
new_entry={'name':'raju','masters':'MK','age':26}
df=df.append(new_entry,ignore_index=True)
df

     name masters  age
0    swar      CS   20
1     sam      IT   21
2  nishan      MS   22
3   amish     ACC   24
4    raju      MK   26

In [ ]:
new_entry={'name':'raju1','masters':'MK1','age':261}
df=df.append(new_entry,ignore_index=False)
df

In [ ]:
df.sort_index(ascending=True,inplace=True)
df

     name masters  age
0    swar      CS   20
1     sam      IT   21
2  nishan      MS   22
3   amish     ACC   24
4    raju      MK   26

In [ ]:
df.sort_index(ascending=True,inplace=False)
df

     name masters  age
0    swar      CS   20
1     sam      IT   21
2  nishan      MS   22
3   amish     ACC   24
4    raju      MK   26

In [ ]:
df.sort_index(ascending=False,inplace=False)

     name masters  age
4    raju      MK   26
3   amish     ACC   24
2  nishan      MS   22
1     sam      IT   21
0    swar      CS   20

In [ ]:
df.sort_index(ascending=False,inplace=False)
df

     name masters  age
4    raju      MK   26
3   amish     ACC   24
2  nishan      MS   22
1     sam      IT   21
0    swar      CS   20

In [ ]:
df.sort_values(by="masters")

     name masters  age
3   amish     ACC   24
0    swar      CS   20
1     sam      IT   21
4    raju      MK   26
2  nishan      MS   22

In [ ]:
new={'name':'candy','masters':'MBBS','age':50}
df=df.append(new,ignore_index=True)
df

     name masters  age
0    raju      MK   26
1   amish     ACC   24
2  nishan      MS   22
3     sam      IT   21
4    swar      CS   20
5   candy    MBBS   50
6   candy    MBBS   50

In [ ]:
df.sort_values(by=['name','age'],ascending=[True,False])

     name masters  age
1   amish     ACC   24
5   candy    MBBS   50
6   candy    MBBS   50
2  nishan      MS   22
0    raju      MK   26
3     sam      IT   21
4    swar      CS   20

In [ ]:
df.sort_values(by=['age','name'],ascending=[True,False])

     name masters  age
4    swar      CS   20
3     sam      IT   21
2  nishan      MS   22
1   amish     ACC   24
0    raju      MK   26
5   candy    MBBS   50
6   candy    MBBS   50

In [ ]:
c1=df['age']
c1

0    26
1    24
2    22
3    21
4    20
5    50
6    50
Name: age, dtype: int64

In [ ]:
c2=df.filter(['age','name'])
c2

   age    name
0   26    raju
1   24   amish
2   22  nishan
3   21     sam
4   20    swar
5   50   candy
6   50   candy

In [ ]:
cols=[0,2]
c3=df[df.columns[cols]]
c3

     name  age
0    raju   26
1   amish   24
2  nishan   22
3     sam   21
4    swar   20
5   candy   50
6   candy   50

In [ ]:
df.loc[df['age']>35]

    name masters  age
5  candy    MBBS   50
6  candy    MBBS   50

In [ ]:
df.describe()

             age
count   7.000000
mean   30.428571
std    13.513662
min    20.000000
25%    21.500000
50%    24.000000
75%    38.000000
max    50.000000

In [ ]:
df.shape

(7, 3)

In [ ]:
df.set_index('age')

       name masters
age
26     raju      MK
24    amish     ACC
22   nishan      MS
21      sam      IT
20     swar      CS
50    candy    MBBS
50    candy    MBBS

In [ ]:
df.reset_index()

   index    name masters  age
0      0    raju      MK   26
1      1   amish     ACC   24
2      2  nishan      MS   22
3      3     sam      IT   21
4      4    swar      CS   20
5      5   candy    MBBS   50
6      6   candy    MBBS   50